{%- assign product = all_products[section.settings.featured_product] -%}

{% if product == empty %}
    {%- assign section_onboarding = true -%}
{% endif %}

<div class="page-width" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-ajax-enabled="{{ settings.enable_ajax }}">
    {% comment %}
        Get first variant, or deep linked one 
    {% endcomment %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_thumb_size = '110x110' -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '2' -%}
    {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}

    {% case section.settings.media_size %}
        {% when 'small' %}
            {%- assign product_media_width = 'medium-up--one-third' -%}
            {%- assign product_description_width = 'medium-up--two-thirds' -%}
            {%- assign height = 345 -%}
        {% when 'medium' %}
            {%- assign product_media_width = 'medium-up--one-half' -%}
            {%- assign product_description_width = 'medium-up--one-half' -%}
            {%- assign height = 530 -%}
        {% when 'large' %}
            {%- assign product_media_width = 'medium-up--two-thirds' -%}
            {%- assign product_description_width = 'medium-up--one-third' -%}
            {%- assign height = 720 -%}
        {% when 'full' %}
            {%- assign product_media_width = '' -%}
            {%- assign product_description_width = '' -%}
            {%- assign height = 1090 -%}
            {%- assign enable_image_zoom = false -%}
        {% endcase %}
</div>